<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, We're i3dolphin</h1>
		<p>Welcome to my week 1 of my 53 Web Apps in 53 Weeks Challenge.</p>
		<p>This week I built a blog in Rails 4. Cool stuff, right!.</p>
		<p>If you'd like to follow i3dolphin doing, find us on Weibo <a href="http://weibo.com/u/5540740863">@i3dolphin</a> or on the web at <a href="http://i3dolphin.cn">i3dolphin</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="/">here</a>.</p>
	</div>
</div>